*{
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

.appbar{
    height: 88px;
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    justify-content: space-between;
}

.appbar, .left-appbar,
.center-appbar, .right-appbar,
.search-panel{
    display: flex;
    align-items: center;
}

.logo{
    color: #0C2146;
    margin-right: 16px;
}

.text-appbar{
    color: #5A5B6A;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 158%;
}

.text-appbar, .menu{
    margin: 6px 16px;
}

.search-panel{
    width: 668px;
    height: 48px;
    padding-left: 15px;
    padding-right: 17px;
    margin-right: 14px;
    background: #EDEDF0;
    border-radius: 99px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 158%;
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.0075em;
    color: #19191D;
    position: relative;
}

.search-icon{
    margin-right: 11px;
}

.close-icon{
    position: absolute;
    right: 17px;
}

.menu{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 158%;
    /* display: flex;
    align-items: center; */
    letter-spacing: 0.0075em;
    color: #2264D1;
}

.sign-up{
    border: 1px solid #9DC2FF;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 8px 12px;
    margin-right: 21px;
    /* display: flex;
    align-items: flex-end;
    text-align: center; */
}

.sign-up, .my-cart{
    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;

    letter-spacing: 0.0075em;
    color: #2264D1;
}

.my-cart{
    box-shadow: 0px 2px 4px rgba(27, 78, 163, 0.2), 0px 4px 8px rgba(41, 121, 255, 0.2);
    border-radius: 4px;
    background: #FFFFFF;
    padding: 8px 12px;
     /* display: flex;
    align-items: center;
    text-align: right; */
    position: relative;
    margin-right: 16px;
}

.badge{
    position: absolute;
    width: 20px;
    height: 20px;
    right: -2px;
    top: -2px;

    font-family: Quicksand;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    /* display: flex; */
    /* align-items: center; */
    text-align: center;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: #F44336;
    border-radius: 99px;
}

.profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.Topnav{
    left: 0px;
}
.Tabs{
    margin-left: 214px;
    margin-right: 214px;
    display: flex;
    justify-content: space-between;
}
.Tab{
    border-radius: 10px;
    padding: 10px 4px 4px 4px;
}
.Tab p{
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #9696A0;
    margin: 0px 4px;
}
.svg{
    margin-right: auto;
    margin-left: auto;
    width: 20px;
    height: 20px;
}