*{
    padding: 0px;
    margin: 0px;
}

a {
    text-decoration: none;
    color: #000000;
}

.appbar{
    height: 88px;
    margin-left: 16px;
    margin-right: 16px;

}

.appbar, .left-appbar{
    display: flex;
    align-items: center;
}

.logo{
    color: #0C2146;
    margin-right: 16px;
}

.text-appbar{
    margin: 6px 16px;
    color: #5A5B6A;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 158%;
}

.search-panel{
    width: 668px;
    background: #EDEDF0;
    border-radius: 99px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 158%;
    display: flex;
    align-items: center;
    letter-spacing: 0.0075em;
    color: #19191D;
}

.Topnav{
    position: absolute;
    left: 0px;
}
.Tabs{
    margin-left: 214px;
    margin-right: 214px;
    display: flex;
}
.Tab{
    border-radius: 10px;
    padding: 10px 4px 4px 4px;
}
.Tab svg{;
    fill:  black;
}
.Tab p{
    font-size: 14px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: #9696A0;
    margin: 0px 4px;
}
.svg{
    margin-right: auto;
    margin-left: auto;
    width: 20px;
    height: 20px;
}